{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Mdp</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Document</th>
                <th>Telephone</th>
                <th>Voitureid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('_show', { 'id': utilisateur.id }) }}">{{ utilisateur.id }}</a></td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.mdp }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.age }}</td>
                <td>{{ utilisateur.document }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.voitureId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
